h1,h2{
    text-align: center;
}
.caja{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.cajas{
    background-color: aquamarine;
    width: 100px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    padding: 20px 5px 5px 5px;
    border-radius: 10px;
}
.inpNumero{
    width: 100px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
}